<button class="settings-btn" (click)="openDialog()">⚙️ Settings</button>
<div class="modes">
    <button class="mode" (click)="handleManualModeChange(0)">💪 Work</button>
    <button class="mode" (click)="handleManualModeChange(1)">☕ Break</button>
    <button class="mode" (click)="handleManualModeChange(2)">💤 Long Break</button>
</div>

<app-clock [bgColor]="orderedSteps[currentStepIndex].backgroundColor"></app-clock>

<div class="controls">
    <button (click)="startClock()" [disabled]="(clock().statusChanges | async) === 'RUNNING'"
        class="control-btn start">▶️ Start</button>
    <button (click)="stopClock()" [disabled]="(clock().statusChanges | async) !== 'RUNNING'" class="control-btn stop">⏹️
        Stop</button>
</div>