  .modal {
      background-color: white;
      padding: 30px;
      border-radius: 20px;
      min-width: 400px;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
      display: flex;
      flex-direction: column;
      gap: 20px;
  }

  .modal h2 {
      color: #ff6b6b;
      text-align: center;
      font-size: 1.5rem;
  }

  .modal label {
      display: flex;
      flex-direction: column;
      font-size: 1rem;
      color: #444;
  }

  .modal input {
      margin-top: 5px;
      padding: 10px;
      border: 2px solid #ddd;
      border-radius: 12px;
      font-size: 1rem;
      outline: none;
  }

  .modal input:focus {
      border-color: #ff6b6b;
  }

  .modal .close-btn {
      background-color: #6bcb77;
      color: white;
      border: none;
      padding: 10px;
      border-radius: 999px;
      cursor: pointer;
      transition: 0.3s;
  }

  .modal .close-btn:hover {
      background-color: #5bb866;
  }

  .modal .close-btn:disabled {
      background-color: #999;
      cursor: not-allowed
  }

  .cancel-btn {
      padding: 10px 20px;
      border: none;
      border-radius: 999px;
      background-color: #999;
      color: white;
      cursor: pointer;
      transition: background 0.3s ease, transform 0.2s ease;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  .cancel-btn:hover {
      background-color: #777;
  }